
* {
    box-sizing: border-box;
}
body{
	background-color: #707070;
	font-size: 24px;
	margin: auto;
}
header{
	width: 100%;
	height: 90px;
	background: #fff;
	border-bottom: 2px solid #0285d1;
	position: relative;
}

/*shadow effect - right side - below - blur - spread - color*/
header,
section,
aside{
box-shadow: 5px 5px 10px 5px rgba(66,66,66,0.75);
}

#logo{
	float: left;
	text-decoration: none;
	font-size: 35px;
	background: #0285d1;
	color:rgb(209, 211, 214);
	width: 180px;
	height: 88px;
	display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
/*added effect to main link*/
#logo:hover{
	background-color:#005d93;
}
nav{
	float: right;
	padding: 30px;
	color: #0285d1;
}

a{
	text-decoration: none;
}

a:hover{
	color: #005d93;
}

.menu{
	font-weight: bold;
	color: #0285d1;
}

.container{
	display: block;
	max-width: 960px;
	width: 100%
	clear: both;
	margin: 0 auto; 
}

section,
aside{
	position: relative;
	background-color: #fff;
	border:1px solid black;
	top:40px;
}
section{
	float: left;
	width: 650px;
}
aside{
	float: right;
	width: 270px;
	background-image: url("../images/main_bk.jpg");
}
h1{
	font-size: 35px;
	text-align: left;
	margin: auto;
	width: 90%;
	padding: 10px;
	border-bottom: 2px solid #707070;
	margin-bottom: 10px;
}
#myPic{
	margin: 10px;
	margin-left: 20px;
	display: inline;
	width: 220px;
	height: 220px;
	float: left;
}
h2{
	font-size: 28px;
	padding: 5px;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	width: 80%;
	border-bottom: 1px solid #707070;
}
.cm_links{
text-align: center;
margin: auto;
}
.link_img{
	width: 50px;
	height: 50px;
	display: inline;
	margin:10px;
}
.text{
	text-align: left;
	margin: 20px;
}
footer{
	position: absolute;
	bottom: 0;
	height: 2em;
	width: 100%;
	clear:both;
	background-color: #4d4d4d;
	text-align: center;
	color: white;
	font-size: 50%;
	padding: 2em;
	border-top: 0.2em solid #0285d1;
}